{% extends 'base.html.twig' %} {% block title %} Hello TestController! {%
endblock %} {% block body %}
<div class="container mb-4">
<div id="app">
  <component :is="vueComponent"></component>
</div>
<h3>HEYY</h3>
<TestComponent/>
</div>

{% endblock %}
